.photo{
    text-align: center;
}

.finish{
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-size: 20px;
    margin-top: 3%;
    font-weight: 5%;
    font-family: 'Roboto Condensed', sans-serif;
}

.name{
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 3%;
    margin-top: 4%;
}

.content{
    font-family: 'Source Serif Pro', serif;
    text-align: center;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
}

a{
    text-decoration: none;
    color: cornflowerblue;
}